.chapter {
  &__item {
    height: 160px;
    &-A1 {
      background-color: #73fc03;
    }
    &-A2 {
      background-color: #00b803;
    }
    &-B1 {
      background-color: #f5f258;
    }
    &-B2 {
      background-color: yellow;
    }
    &-C1 {
      background-color: #ff7700;
    }
    &-C2 {
      background-color: red;
    }
  }
}
