.advantages {
  padding: 0 2% 2% 2%;

  &__title {
    font-size: 31px;
    color: #6c6cfc;
    margin: 20px 0;
  }

  &__cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
}
