.footer {
  &__logo {
    width: 103px;
    height: 39px;
    background-image: url('../../assets/rs_school_js.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
