.game-title {
  margin: 0;
  margin-bottom: 0.75em;

  font-size: 3rem;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 2.4rem;
  }

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}
