.word-card__word {
  margin-bottom: 0.5em;
  color: #fff;
  font-size: 2.2rem;
}

.word-card__img {
  $size: min(30vmin, 10rem);

  width: $size;
  height: $size;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
