.game-iteration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.game-iteration__answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
