$wordImgSize: 15vmin;

.game-iteration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (max-width: 480px) {
    gap: 1rem;
  }
}

.game-iteration__answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 0.4rem;
  }
}

.answer {
  line-height: 1em;

  &--not-selected {
    opacity: 0.5;
    font-size: 0.9em;
  }

  &--wrong {
    position: relative;
    opacity: 0.5;
    text-decoration: line-through;
    font-size: 0.9em;
  }

  &--correct {
    opacity: 1;
    font-size: 1em;
  }
}

.word-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $wordImgSize;
  gap: 1rem;
}

.word-card__word {
  margin-bottom: 0.5em;
  color: #fff;
  font-size: 2.2rem;
}

.word-card__img {
  width: $wordImgSize;
  height: $wordImgSize;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
